<div class="card border-0" style="width: 18rem;">
    <div class = "d-flex justify-content-center">
        <img src="https://lh3.googleusercontent.com/UQG9jsM-sxUNeczYbzKNdAD4h1EdLphQwk-JjCIUMqKlP9YcHw8UueRI8ShoHodNKnv7OzN5GIgxbs8MiJEfnwVjZUwq3yps0NRWFVJYQSe0KkPxWVXJkwcPscF6yK1d7RKrElLz3YY-yIK4-qPnWhligAUNVVFahFLZ1xWbAbTfAMbR4FsS5grk9a-SnfVqCo36CTMOKSrC4K8k11z0dnUjX2cKoIZFwVYStvpeaS5wPm9yvtpQy7PIi0UGgszyxxyRTfUC4sq0fnX4Gs-nnrLTdU4lO-86nWFPy7Zs_IUzR9i3Se6N2_vt8eg8VgwTOBO5HMr72oCYLhZY5mPDa18KjC6LSuenyRKv8n0lt3m3a3i5uJPYJFJOMcXB0ckw0ET05V3_A8xubrtq2WjH_zCeN3Q_xn9w79BbbxBDDPOOKl4H1rYeNt_eem6jFFYXnCby7MPjqlbNAzExl-YOzJHVH5PGAXDn6b7eXbEGaWqNfTtLz4oenVZNwmJncrQBjJk6Cg3qt9IMmbJoxSroKPGYCcNccwQ5ac1kmq_l_eRXfqIRsZ0Rdw77FAG_2Wg-KYdsWuOaUiM2lpuhFebASYJ20D517Ks0XyQl8mUopkiH0yXj-kEOFnFUE84_hKbuof6TbegMv9uMFejhJFPim4U3txhMwcSZ3UlKX3-_MSO24QeFUgVUdxxLLKbeWQ=w665-h821-no?authuser=0" class="card-img-top rounded-circle w-75" alt="imagem de capa do card">
    </div>
    
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">Sarah Braia</h5>
      <p class="card-text-center text-monospace">Mestranda em Engenharia Mecância Aeronaútica no ITA e Desenvolvedora FullStack JAVA jr.</p>
      <a href="https://www.linkedin.com/in/sarah-braia-154098149/" class="btn btn-outline-info mb-3 d-flex justify-content-center" 
      target="_blank">Linkedin</a>
      <a href="https://github.com/sarahbraia" class="btn btn-outline-dark d-flex justify-content-center" 
      target="_blank">GitHub</a>
    </div>


  </div>